*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Josefin Sans', sans-serif;
}
.strip-1{
    width:100%;
    height: 2.5rem;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.1rem;
    font-family: "Nunito", Helvetica, sans-serif;

}
header{
    position: sticky;
    top:0;
    left:0;
    z-index:100;
}
.strip-1 p{
    color:aliceblue;
}
.strip-2{
    width: 100%;
    height: 3rem;
    background-color: #fff;
    display: flex;


}
.strip-2_logo{
    width:22%;
    height:100%;
    display: flex;
    justify-content: end;

}
.strip-2_logo img{
    width: 60%;
    height: 100%;
}

.strip-2_search{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: end;
    align-items: center;
    margin-left: 35rem;
}
.strip-2_search >div{
    width: 30%;
    height: 70%;
    background-color: #f6f6f6;
    display: flex;
    border-radius: 3rem;

}
.strip-2_search >div input{
    width: 80%;
    height: 100%;
    background-color: inherit;
    outline: 0;
    border: 0;
    padding: 10px;
    border-radius: inherit;
}
.strip-2_search >div img{
    width: 20%;
    height: 100%;
    
}
.strip-2_icon{
    width: 25%;
    height: 100%;
    display: flex;
    align-items: center;
    cursor:pointer;
}
.strip-2_icon img{
    width: 20%;
    height: 60%;
}
.strip-3{
    width:100%;
    height: 3.5rem;
    display: flex;
    justify-content: center;
    background-color: #fff;
}
nav{
    width: 70%;
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
nav a{
    text-decoration: none;
    color: black;
    font-size: 1.2rem;
}

.latest-products{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}
.latest-products-item{
    width: 70%;
    height: auto;
}
.latest-products-title{
    width: 100%;
    height: 4rem;
    display:flex ;
    align-items: center;
    font-size: 1.7rem;
}
.latest-products-cards{
    width:100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.latest-products-cards .card{
    width:23%;
    height: 20rem;
    text-align: center;
}
.latest-products-cards .card img{
    width:100%;
    height: 80%;
}

.latest-products-cards .card p{
    color: #222222;
}
.latest-products-cards .card p:nth-of-type(2){
    color: red;
    font-weight: bold;
    padding-top: 2px;
}

nav{
    position: relative;
}
nav a{
    text-decoration: none;
    color: #333;
    font-size: 1.2rem;
}
.nav-item{
    padding: 1rem 0rem;
    z-index: 100;
}
.nav-item-dropdown{
    background-color:#fff;
    position: absolute;
    top:3.5rem;
    left:0rem;
    width: 100%;
    height: 20rem;
    display: none;
}
.edit-menus{
    display: flex;
    margin-left: 3rem;
    line-height: 2.5rem;
}
.edit-1{
    padding-left: 10rem;
}
.edit-menus2{
    display: flex;
    /* margin-left: 3rem; */
    line-height: 1.5rem;
}
.he1{
    font-weight: bold;
}
.boldd{
    font-weight: bold;
}
.sgreen a{
    color: #126B45;
    font-weight: bold ;
}
.edit-2{
    margin-left: 20%;
    width: 20%;
    height: 10%;

}
.he2 img{
    width: 90%;
    margin-top:2rem;
    margin-left: 12rem;
    height: 90%;
}
.nav-item-dropdown div{
    margin-top: 5px;
    margin-left: 10px;
}
.nav-item:hover{
    border-bottom:3px solid green;
}
.nav-item:hover .nav-item-dropdown{
    display: block;
}
.card{
    position: relative;
}
.overlay-items{
    width: 3rem;
    height: 3rem;
    background-color: #fff;
    opacity: 0.6;
    border-radius: 50%;
    position: absolute;
    top:1rem;
    right: 1rem;
    display:  none;
}
.cart-icon{
    top:5rem;
}
.card:hover .overlay-items{
    display: block;
}

.label{
    width:100%;
    height:30rem;
    background-color: #efdfc8;
    display: flex;
    align-items: start;
    justify-content: center;
}
.heading2{
    margin-top: 50px;
    margin-bottom: 10px;
    width:50%;
    height: 90%;
    justify-content: center;
    align-items: center;
}
.image12{
    width:70%;
    height: 80%;
    margin-top: 20px;
}
.heading1{
    width:70%;
    margin-top: 20px;
    align-items: start;
    position: relative;
    text-align: justify;
}
.cat_img{
    margin-top: 23px;
    margin-left: 15rem;
}
.mb-0{
    margin-top: 20px;
    position: relative;
    padding-left: 15rem;
}
.para{
    margin-top: 10px;
    margin-left: inherit;
    margin-right: 5rem;
    padding-left: 15rem;
    line-height: 2rem;
    font-size: larger;
    text-align: justify;
    font-size: 16px;
    letter-spacing: 0vh;
    font-family: "Nunito", Helvetica, sans-serif;

    /* position: relative; */

}
.button-read{
    margin-top: 2rem;
    font-family: "Nunito", Helvetica, sans-serif;

}
.r1{
    /* margin-top: 10rem; */
    margin-left: 15rem ;
    background-color: #6d3c18;
    padding: 7px 20px 7px 20px ;
    color: #fff;
    text-decoration: none;
}
.m-t-30{
    margin-top: 30px;
}
.down{
    margin-top: 50px;
    padding-bottom: 50px;
    width:100%;
    height: auto;
    background-color:#f6f6f6;
    display: flex;
}
.div-1{
    margin-top: 2.5rem;
    margin-left: 11rem;
    width:12%;
    height:auto;
    /* justify-content: ; */
    align-items: start;
}
.home{
    /* margin-left: rem; */
    line-height: 2rem;
    /* justify-content: right; */
    /* margin-right: 20rem; */
}
.icon-b{
    display: flex;
    padding-right: 0px;
}
.icon-b img{
    width: 30px;
}
.div-2{
    margin-top: 2.5rem;
    width:20%;
    height: auto;
}
.div-3{
    margin-top: 2.5rem;
    width: 20%;
    margin-left: 10px;
    height: auto;
    text-align: start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    
}
.div-4{
    margin-top: 2rem;;
    width:25%;
    height: auto;
    line-height: 1.5rem;    
}
.div-4 p:nth-last-of-type(3){
    margin-bottom: 15px;
}
.div-4 p:nth-last-of-type(1){
    margin-bottom: 15px;
}
.tbox{
    width: 13rem;
    height: 2rem;
}
.tbutton{
    width: auto;
    height: 2.2rem;
    background-color: #126B45;
    padding: 5px 15px;
    border: 0px;
}
.copyright{
    width:80%;
    margin-left: 10%;
    font-family: 'Josefin Sans', sans-serif;

}
.container{
    /* background-color: #6d3c18; */
    display: flex;
    width: 100% ;
    height: 4rem;
    align-items: center;
    font-size: medium;
}
.footer-payment-icons{
    width: 50%;
    height:inherit;
    /* background-color: #126B45; */
}
.footer-payment-icons img{
    margin-top: 19px;
    width:40%;
    height: fit-content;
    /* align-items: center; */
}
footer{
    font-family: "Nunito", Helvetica, sans-serif;
}
.div-4 div:nth-of-type(1) p:nth-of-type(1){
    font-family: 'Josefin Sans', sans-serif;
    font-weight: bolder;
    font-size: large;

}
.tbutton:hover{
    background-color: #fff;
    color: #126B45;
    border: 1px solid #126B45;
}